body {
  margin: 0;
  background:
  linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
  linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
  linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
  linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
  linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
  linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: #131313;
  background-size: 20px 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows:  repeat(5, 0.3fr);
  width: 30%;
  margin: 0 auto;
  border-color: whitesmoke;
}

.grid-container .resume-img {
  grid-column: 1/2;
  grid-row: 3/4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container .resume-img img {
  width: 170px;
  height: auto;
}

.grid-container .contact-items {
  grid-column: 1/2;
  grid-row: 4/5;
  background-color: rgb(60, 60, 60);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.phone-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.reference-phone {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.email-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.address-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.grid-container .contact-items h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 850;
}

.grid-container .contact-items h2{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 550;
}


.grid-container .experience-items {
  grid-column: 1/2;
  grid-row: 5/6;
  background-color: rgb(60, 60, 60);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.grid-container .experience-items h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 850;
}

.grid-container .experience-items p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container .references-items {
  grid-column: 1/2;
  grid-row: 6/7;
  padding: 10px;
  background-color: rgb(60, 60, 60);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.grid-container .references-items h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 850;
}

.grid-container .references-items h3{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 550;
}

.grid-container .references-items p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.header{
  grid-column: 2/3;
  grid-row: 3/4;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
}

.header .title h3{
  font-weight: 300;
  margin-left: 14px;
  margin-top: 0;
}

.grid-container .about {
  grid-column: 2/3;
  grid-row: 4/5;
}

.grid-container .about h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 850;
  margin-left: 14px;
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  color: white;

}

.grid-container .about p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-left: 14px;
  color: white;
}

.grid-container .experience-info {
  grid-column: 2/3;
  grid-row: 5/6;
}

.grid-container .experience-info h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 850;
  margin-left: 14px;
  color: white;
}


.grid-container .experience-info h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 470;
  margin-left: 14px;
  color: white;
  
}

.grid-container .experience-info h5 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 500;
  margin-left: 14px;
  color: white;
}

.grid-container .experience-info p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-left: 14px;
  color: white;
}

.grid-container .education-info {
  grid-column: 2/3;
  grid-row: 6/7;
}

.grid-container .education-info h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 850;
  margin-left: 14px;
  color: white;
}


.grid-container .education-info h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 470;
  margin-left: 14px;
  color: white;
  
}

.grid-container .education-info h5 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 500;
  margin-left: 14px;
  color: white;

}

.grid-container .education-info p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-left: 14px;
  color: white;
}
