body {
  margin: 0;
}

.main-container {
  height: 100vh;
}

nav {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  padding: 0 30px;
  background-color: rgb(40, 40, 40);
}

nav p {
  color: white;
  font-size: 24px;
  font-family: 'Roboto Mono', monospace;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  width: 500px;
  justify-content: center;
  align-items: center;
  
}

nav ul li:hover a {
  cursor: pointer;
  color: rgb(0, 183, 255);
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 24px;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: 'Roboto Mono', monospace;
}

main {
  height: calc(100% - 160px);
  background-color: rgb(17, 17, 17);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

main p {
  color: white;
  font-size: 100px;
  font-family: 'Workbench', monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2/3;
  grid-row: 1/2;
}

.image-container {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.image-container img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  transition: opacity 0.3s ease;
  margin-top: 20px;
}

.image-container:hover img {
  cursor: pointer;
  opacity: 0.5; 
}

.hover-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 15px;
  font-family: 'Roboto Mono', monospace;
  display: none;
  text-align: center;
}

.image-container:hover .hover-text {
  display: block;
}

footer {
  height: 100px; 
  background-color: rgb(40, 40, 40);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow: hidden;
}

footer .phone {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  grid-column: 1/2;
}

footer .phone p {
  color: white;
  font-size: 24px;
  font-family: 'Roboto Mono', monospace;
  margin: 0;
  display: flex;
  align-items: center;
}

footer .phone p span {
  margin-right: 10px;
  font-size: 30px;
}

footer .email {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  grid-column: 2/3;
}

footer .email p {
  color: white;
  font-size: 24px;
  font-family: 'Roboto Mono', monospace;
  margin: 0;
  display: flex;
  align-items: center;
}

footer .email p span {
  margin-right: 10px;
  font-size: 30px;
}

footer .github {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  grid-column: 3/4;
}

footer .github span {
  margin-right: 0.8px;
  font-size: 30px;
  color: white;
}

footer .github li {
  list-style-type: none;
}

footer .github li a{
  text-decoration: none;
  color: white;
  font-size: 24px;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: 'Roboto Mono', monospace;
}

@media (max-width: 430px) {
  nav {
    height: auto;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
  }
  nav ul {
    flex-direction: column;
    width: auto;
  }
}