body {
  margin: 0;
  background-color: black;
}

.main-container {
  height: 100vh;
}

nav {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  padding: 0 30px;
  background-color: rgb(40, 40, 40);
}

nav p {
  color: white;
  font-size: 24px;
  font-family: 'Roboto Mono', monospace;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  width: 500px;
  justify-content: center;
  align-items: center;
  
}

nav ul li:hover a {
  cursor: pointer;
  color: rgb(0, 183, 255);
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 24px;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: 'Roboto Mono', monospace;
}

main {
  height: calc(100% - 60px);
  background-color: rgb(17, 17, 17);
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  grid-template-rows: repeat(7, 1fr);
}

.image-container {
  background-color: rgb(0, 2, 54);
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.image-container img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  transition: opacity 0.3s ease;
  margin-top: 20px;
  
}

.image-container:hover img {
  cursor: pointer;
  opacity: 0.5; 
}

.hover-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 15px;
  font-family: 'Roboto Mono', monospace;
  display: none;
  text-align: center;
}

.image-container:hover .hover-text {
  display: block;
}

main .resume-title {
  color: white;
  font-size: 90px;
  font-family: 'Merriweather', serif;
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0;
  margin-left: 50px;
}

main .job-title {
  background-color: rgb(0, 2, 54);
  color: white;
  font-size: 40px;
  font-family: 'Merriweather', serif;
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
}

main .experience-header {
  color: white;
  font-size: 45px;
  font-family: 'Merriweather', serif;
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 0;
}

main .experience-summary {
  color: white;
  font-size: 20px;
  font-family: 'Roboto Mono', monospace;
  grid-column: 2/3;
  grid-row: 3/4;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 50px;
  width: 70%;
}

main .professional-header {
  color: white;
  font-size: 45px;
  font-family: 'Merriweather', serif;
  grid-column: 2/3;
  grid-row: 4/5;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 0;
}

main .professional-summary {
  color: white;
  font-size: 20px;
  font-family: 'Roboto Mono', monospace;
  grid-column: 2/3;
  grid-row: 5/6;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 50px;
  width: 70%;
}

main .education-header {
  color: white;
  font-size: 45px;
  font-family: 'Merriweather', serif;
  grid-column: 2/3;
  grid-row: 6/7;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 0;
}

main .education-summary {
  color: white;
  font-size: 20px;
  font-family: 'Roboto Mono', monospace;
  grid-column: 2/3;
  grid-row: 7/8;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 50px;
  width: 70%;
  padding-bottom: 100px;
}

main .contact-header {
  background-color: rgb(0, 2, 54);
  color: white;
  font-size: 35px;
  font-family: 'Merriweather', serif;
  grid-column: 1/2;
  grid-row: 3/4;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
}

main .phone {
  background-color: rgb(0, 2, 54);
  color: white;
  font-size: 40px;
  grid-column: 1/2;
  grid-row: 4/5;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
}

main .phone span {
  color: white;
  margin-top: 0;
  font-size: 40px;
}

main .phone p {
  color: white;
  font-size: 25px;
  font-family: 'Roboto Mono', monospace;
}

main .email {
  background-color: rgb(0, 2, 54);
  grid-column: 1/2;
  grid-row: 5/6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .email span {
  color: white;
  font-size: 40px;
  margin-top: 20px;
}

main .email p {
  color: white;
  font-size: 25px;
  font-family: 'Roboto Mono', monospace;
  margin-top: 20px;
}

main .location {
  background-color: rgb(0, 2, 54);
  grid-column: 1/2;
  grid-row: 6/7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .location span {
  color: white;
  font-size: 40px;
  margin-top: 20px;
}

main .location p {
  color: white;
  font-size: 25px;
  font-family: 'Roboto Mono', monospace;
  margin-top: 20px;
  text-wrap: balance;
  text-align: center;
}

main .empty-cell {
  grid-column: 1/2;
  grid-row: 7/8;
  background-color: rgb(0, 2, 54);
}

@media (max-width: 430px) {
  nav {
    height: auto;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
  }
  nav ul {
    flex-direction: column;
    width: auto;
  }
}