body {
  margin: 0;
  padding: 0;
  overflow: auto;
}

.about-container section.top {
  background-image: url("../img/aboutPageBackground\ \(2\).jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y:45%;
  background-position-x: 50%;
  color: rgb(255, 17, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Sixtyfour', sans-serif;
  font-size: 90px;
  position: relative;
}

.about-container #more-button {
  position: absolute;
  bottom: 70px; 
  left: 50%;
  border: none;
  outline: none;
  transform: translateX(-50%); 
  background-color: transparent;
  color: white;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: 'Sixtyfour', sans-serif;
}

.about-container #more-button:hover {
  font-size: 36px;
  color:rgb(0, 255, 76);
}

.about-container #more-button span {
  margin-left: 10px;
  font-size: 50px;
}

.return {
  grid-column: 5/6;
  grid-row: 3/4;
  display: flex;
  align-self: end;
  justify-self: end;
}

.return #scroll-up {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  font-size: 15px;
  font-family: 'Sixtyfour', sans-serif;
  cursor: pointer;
  margin-right: 35px;
  margin-bottom: 15px;
}

.return #scroll-up:hover {
  color:rgb(0, 255, 76);
  font-size: 16px;
}

.bottom-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 100vh;
  background-color: rgb(40, 40, 40);
}

.bottom-container .text-container {
  border-radius: 10px;
  grid-column: 3/4;
  grid-row: 2/3;
  padding: 30px;
}

.bottom-container .text-container p {
  color: white;
  font-size: 18px;
  font-family: 'Roboto Mono', monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.about-container {
  margin: 0;
}

.about-container img {
  display: block;
  width: 100%;
}

main p {
  color: white;
  font-size: 100px;
  font-family: 'Workbench', monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2/3;
  grid-row: 1/2;
}


/* .bottom-container .image-container {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.bottom-container .image-container img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  transition: opacity 0.3s ease;
  margin-top: 20px;
}

.bottom-container .image-container:hover img {
  opacity: 0.5; 
}

.hover-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 15px;
  font-family: 'Roboto Mono', monospace;
  display: none;
  text-align: center;
}

.image-container:hover .hover-text {
  display: block;
} */

@media (max-width: 1920px) {
  body {
    overflow: auto;
  }

  .about-container section.top {
    font-size: 45px;
  }

  .about-container #more-button {
    font-size: 25px;
  }

  .about-container #more-button:hover {
    font-size: 27px;
  }

  .bottom-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 100vh;
    background-color: rgb(40, 40, 40);
  }

  .return {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .bottom-container .text-container {
    border-radius: 10px;
    grid-column: 3/4;
    grid-row: 2/3;
    padding: 30px;
  }

  .return {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  
}

/* ------- */

@media (max-width: 457px) {
  body {
    overflow: auto;
  }

  .about-container {
    margin: 0;
    height: 30%;
  }

  .about-container section.top {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 255, 0);
  }

  .about-container #more-button p{
    display: none;
  }

  .about-container #more-button span {
    display: none;
  }

  .bottom-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    height: 100vh;
  }

  .bottom-container .return {
    display: flex;
    grid-column: 1/4;
    grid-row: 3/4;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    
  }

  .return #scroll-up {
    margin: 0;
  }

  .bottom-container .text-container {
    grid-row: 1/2;
  }
} 
