body {
  margin: 0;
  padding: 0;
  background-image: url('../img/space-stars.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Cute Font', sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: 20px;
  background-color: rgba(0, 0, 0, 0.601);
  padding: 15px;
  border-radius: 5px;
}

body {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  margin: 0;
  padding: 0;
  background-image: url('../img/space-stars.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Cute Font', sans-serif;
}

form {
  grid-column: 2/3;
  grid-row: 2/3;
  justify-self: center;
}

label {
  color: white;
  font-size: 30px;
  margin: 10px;
}

input {
  padding: 3px;
  margin: 10px;
  border: none;
  color: black;
}

.button-container {
  display: flex;
  justify-content: space-around;
  width: 40%;
  margin: 10px;
}

button#reset, button#submit{
  background-color: rgba(0, 110, 255, 0.76);
  color: white;
  border: none;
  font-size: 20px;
  font-family: 'Cute Font', sans-serif;
}

button#reset:hover {
  cursor: pointer;
  background-color: rgba(0, 110, 255, 0.457);
}

button#submit:hover {
  cursor: pointer;
  background-color: rgba(0, 110, 255, 0.457);
}

select#eyeColor {
  width: 150px; 
}

textarea#bio {
  width: 300px;
  height: 100px; 
}

textarea#bio::placeholder {
  opacity: 0.5;
}

label[for="bio"] {
  display: block;
  text-align: center;
}

label[for="eyeColor"] {
  display: block;
  text-align: center;
}

input#file {
  border: 1px solid white;
  color: white;
}



@media (max-width: 588px) {
  body {
    margin: 0;
    padding-bottom: 50px;
    background-image: none;
    background-color: rgb(0, 0, 0);
    overflow: scroll;
  }
  form {
    background-color: rgba(0, 13, 255, 0.303);
    width: auto;
    height: auto
  }
  label {
    font-size: 32px;
    color: white;
  }
  select#eyeColor {
    overflow: scroll;
  }
  button#reset {
    background-color: red;
    border-radius: 5px;
  }
  button#submit {
    background-color: green;
    border-radius: 5px;
  }
  button#reset:hover {
    background-color: rgba(159, 0, 0, 0.845);
  }
  button#submit:hover {
    background-color: rgba(0, 128, 0, 0.584);
  }

}

@media (max-width: 1544px) {

}


